main {
  min-height: 45vh;
}
#root {
  background-color: rgb(244, 244, 234);
  overflow: hidden;
}
.container {
  min-width: 85%;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h3 {
  font-size: calc(12px + 0.4vw);
  color: #fff;
}
.carousel {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 430px;
  max-height: 40vh;
}
.carousel img {
  height: 200px;
  max-height: 50vw;
  max-width: 80%;
  margin: 70px 0;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}
